---
---

@import "main";

#sidebar {
  background-color: #8FA3F0 !important;
  --sidebar-bg: #8FA3F0;
  --site-title-color: #ffffff;
  --site-subtitle-color: #EEF1FC;
  --sidebar-muted-color: #ffffff;
  --sidebar-active-color: #ffffff;
  --sidebar-hover-bg: rgba(255, 255, 255, 0.2);
  --sidebar-btn-bg: rgba(255, 255, 255, 0.2);
  --sidebar-btn-color: #ffffff;
}